.main-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 70vh;
}

.each-contact {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

p {
    margin-left: 20px;
}

.title {
    font-size: 2rem;
    margin: 40px 0;
}

.each-contact>i {
    font-size: 1.7rem;
    color: #ECFF00;
}