.main-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.each-contact {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

p {
    margin-left: 20px;
}

.title {
    font-size: 2rem;
    margin: 70px 0;
}

.each-contact>i {
    color: #ECFF00;
}