<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact</title>
  <link rel="stylesheet" href="../css/projects.css">
  <link rel="stylesheet" href="../css/contact.css">
  <link rel="stylesheet" href="../css/style.css">
  <script src="https://kit.fontawesome.com/4ce7662bf8.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="../JS/contact-form.js"></script>

</head>

<body>
  <nav>
    <h2><a href="../index.html">&#171;BACK</a></h2>
    <div>
      <a href="https://github.com/thebigJulien" ><i class="fab fa-github"></i></a>
      <a href="https://www.linkedin.com/in/julien-montagnon-a68213174/"><i class="fab fa-linkedin"></i></a>
      <a id="contact" title="Write me!" href="#"><i class="far fa-envelope-open"></i></a>
      <a href="../Julien's Resume (1).pdf" target="_blank" title="my CV"><i class="far fa-file"></i></a>
    </div>
  </nav>

  <main class="main-contact">
      <div class="title">
        Where's The Big Julien?
      </div>
    <div class="each-contact">
        <i class="fas fa-street-view"></i>
        <p>Berlin, Germany</p>
    </div>
    <div class="each-contact">
        <i class="fas fa-mobile-alt"></i>
        <p>+49 176 98588446</p>
    </div>
    <div class="each-contact">
        <i class="fas fa-envelope-open-text"></i>
        <p>jumontagnon@gmail.com</p>
    </div>
  </main>

    <!-- CONTACT FORM -->
    <div id="contactForm">

      <h1>Write me!</h1>
      <p>I would love to hear from you</p>
      
      <form action="https://formspree.io/mwkrebze" method="POST">
        <input placeholder="Name" type="text" name="name" required />
        <input placeholder="Email" type="email" name="email" required />
        <textarea placeholder="Comment" name="message" required></textarea>
        <button class="formBtn" type="submit">Submit</button>
      </form>
    </div>
  <!-- ---------------------- -->
</body>

</html>